body,
html {
  height: 100%;
  width: 100%;
}

.active-algo {
  display: block;
}

.algo {
  display: none;
}

.active-algo-fast {
  grid-area: algos;
  display: block;
}

.algoBody {
  display: grid;
  grid-template-areas:
    "buttons buttons"
    "header header"
    "algos algos";
  gap: 5px;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
}

.bubbleSortFast {
  display: grid;

  background-color: rgb(51, 51, 51);
}
.currentAlgoHeader {
  display: block;
  grid-area: header;
  background-color: rgb(51, 51, 51);
  font-size: 40px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.activeAlgoCode {
  background-color: rgb(51, 51, 51);
}

.displayButton {
  background-color: rgb(51, 51, 51);
  grid-area: buttons;
  max-width: auto;
  max-height: auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn-success {
  width: 150px;
  gap: 5px;
  padding: 5px;
}

.bubbleSort {
  grid-area: algos;
  background-color: rgb(51, 51, 51);
}

.algoCode {
  grid-area: code;
  display: flex;
  justify-content: left;
  background-color: rgb(51, 51, 51);
}

.card-body {
  display: grid;
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

Canvas {
  background-color: rgb(51, 51, 51);
}
